/* HEADER */
header {
	border-top: solid 9px #1a2e45; /*customize - colori cliente*/ 
	height: 52px;
	padding: 0 3%;
	clear: both;
}

header h1 { /*customize - logo cliente*/ 
	width:350px; 
	height:95px;
	background:url(../Images/logo.jpg) no-repeat center left;
	float:left;
	margin-top: 2px;
}
header h1 a { /*customize - logo cliente*/ 
	display:block; 
	height:80px;
	text-decoration:none;
	border:none;
}
